[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[packages]
bcrypt = "*"
diff-match-patch = "*"
flask = "*"
flask-dance = "*"
flask-mail = "*"
flask-menu = "*"
flask-security = {git = "https://github.com/mattupstate/flask-security"}
flask-sqlalchemy = "*"
gevent = "*"
google-auth-oauthlib = "*"
gunicorn = "*"
markdown = "*"
mysqlclient = "*"
pygments = "*"
pyjwt = "*"
python-magic = "*"
sqlalchemy-utils = "*"

[dev-packages]
pylint = "*"
