[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[packages]
diff-match-patch = "*"
flask = "*"
flask_sqlalchemy = "*"
flask_menu = "*"
gevent = "*"
gunicorn = "*"
markdown = "*"
mysqlclient = "*"
pygments = "*"

[dev-packages]
pylint = "*"