[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[packages]
alembic = "*"
coverage = "*"
flask = "*"
flask_sqlalchemy = "*"
flask_breadcrumbs = "*"
gevent = "*"
google-api-python-client = "*"
google-auth-oauthlib = "*"
gunicorn = "*"
mysqlclient = "*"
pyjwt = "*"
pyopenssl = "*"
requests = "*"

[dev-packages]
pylint = "*"