#content{
	max-width: 600px;
	padding: 2em;
	color: black;
	margin: 0 auto;
}
#content p{
	line-height: 1.5em;
	margin-top: 0;
}
#content img{
	float: left;
	margin: 0.5em 1.5em 0.5em 0;
	border-radius: 2em;
}
#content a{
	color: #666;
}
#content a:hover{
	color: rgb(253,187,45);
	background-color: transparent;
}
#content textarea.source{
	border: 1px solid #ccc;
	border-radius: 8px;
	font-size: 90%;
	width: 100%;
	white-space: pre;
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	resize: none;
	padding: 0.5em;
}
#content .title{
	margin-bottom: 1em;
}
#content .title h1{
	display: inline;
}
#content .title h1.editable{
	border: 1px solid #ccc;
	border-radius: 8px;
	outline: none;
}
#content .title h1 + span{
	font-size: 75%;
}
#content .title h1 + span:before{
	content: " ";
}
#content .codehilite pre{
	max-height: 250px;
	overflow-x: auto;
	overflow-y: auto;
	padding: 0.5em;
	background-color: black;
	border: 1px solid #ccc;
	counter-reset: line;
}
#content .codehilite code{
	counter-increment: line;
	display: block;
}
#content .codehilite code:before{
	content: counter(line);
	display: inline-block;
	width: 2.4em;
	border-right: 1px solid #ccc;
	margin-right: 0.5em;
}
#content .codehilite code:nth-child(odd){
	width: 100%;
	background-color: #111;
}