body{
	margin: 0;
	padding: 0;
}
#header{
	height: 55px;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
}
#header h1{
	margin: 0;
	padding: 0.5em 0;
}
#header h1 a{
	padding: 0.5em;
}
#header .float{
	float: right;
}
#header .menu{
	display: none;
}
#header .menu.visible{
	display: block;
	position: absolute;
	z-index: 100;
	left: 0px;
	top: 55px;
	width: 100%;
}
#header .menu.visible ul{
	display: block;
	width: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
#header .menu.visible ul li{
	display: block;
	width: 100%;
}
#header .menu.visible ul ul{
	display: none;
}
#header .menu.visible a{
	display: block;
	width: 100%;
	padding: 0.75em 1em;
}
#header .menu .auth-picture{
	display: none;
}
#header .menu.visible ul .auth-picture + ul{
	display: block;
}
#header .hamburger{
	display: block;
	margin: 0.5em 1em;
}
@media (min-width: 650px){
	#header .menu{
		display: block;
		padding: 0.4em 0.5em;
		margin: 0;
	}
	#header .menu a{
		display: block;
		padding: 0.5em;
	}
	#header .menu ul{
		padding: 0;
		margin: 0;
	}
	#header .menu ul li{
		position: relative;
		display: inline-block;
	}
	#header .menu ul ul{
		display: none;
		position: absolute;
		right: 0;
		min-width: 160px;
	}
	#header .menu ul ul li{
		display: block;
		padding: 0.25em;
	}
	#header .menu ul li:hover ul{
		display: block;
	}
	#header .menu .auth-picture {
		display: inline-block;
		width: 32px;
		height: 32px;
	}
	#header .menu .auth-picture + ul {
		display: none;
	}
	#header .hamburger{
		display: none;
	}
}
#content{
	max-width: 600px;
	padding: 2em;
	margin: 0 auto;
	margin-top: 55px;
}
#content p{
	margin-top: 0;
}
#content img{
	float: left;
	margin: 0.5em 1.5em 0.5em 0;
}
#content textarea.source{
	width: 100%;
	padding: 0.5em;
}
#content > h1{
	display: inline-block;
	margin: 0 0 0.5em 0;
}
#content > h1.editable{
	padding: 0.2em;
}
#content .leftbar{
	float: left;
	width: 140px;
}
#content .leftbar ul{
	padding: 0;
	margin: 0;
}
#content .leftbar a{
	display: inline-block;
	box-sizing: border-box;
	padding: 5px;
	width: 100%;
}
#content .leftbar a.active{
	padding: 4px;
}
#content .body{
	padding: 5px;
	margin-left: 170px;
}
#content .codehilite pre{
	max-height: 250px;
	padding: 0.5em;
}
#content .codehilite code{
	display: block;
}
#content .codehilite code:before{
	display: inline-block;
	width: 2.4em;
	margin-right: 0.5em;
}
#content .codehilite code:nth-child(odd){
	width: 100%;
}
#actionbar{
	position: fixed;
	text-align: right;
	bottom: 0;
	right: 0;
	left: 0;
	margin: 0.5em;
	height: 1.4em;
}
#actionbar i{
	margin: 0em 0.25em;
}
#actionbar input{
	position: relative;
	top: -2px;
}
#actionbar .hidden{
	display: none;
}