#header .menu{
	display: none;
}
#header .menu.visible{
	display: block;
	position: absolute;
	z-index: 100;
	left: 0px;
	top: 55px;
	width: 100%;
	background-color: rgba(255,255,255,0.85);
	font-size: 14pt;
}
#header .menu.visible ul{
	display: block;
	list-style-type:  none;
	width: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
#header .menu.visible ul li{
	display: block;
	width: 100%;
}
#header .menu.visible ul ul{
	display: none;
	color: black;
}
#header .menu.visible a{
	display: block;
	width: 100%;
	color: black;
	padding: 0.75em 1em;
}
#header .menu .auth-picture{
	display: none;
	border-radius: 100%;
}
#header .menu.visible ul .auth-picture + ul{
	display: block;
}
#header .hamburger{
	display: block;
	margin: 0.5em 1em;
	text-decoration: none;
}
#header .hamburger:hover{
	background-color: transparent;
	color: black;
}
@media (min-width: 650px){
	#header .menu{
		display: block;
		background-color: transparent;
		padding: 0.4em 0.5em;
		margin: 0;
	}
	#header .menu a{
		display: block;
		color: black;
		padding: 0.5em;
		font-size: 12pt;
	}
	#header .menu ul{
		padding: 0;
		margin: 0;
		list-style-type: none;
	}
	#header .menu ul li{
		position: relative;
		display: inline-block;
	}
	#header .menu ul ul{
		display: none;
		position: absolute;
		right: 0;
		background-color: #ccc;
		min-width: 160px;
	}
	#header .menu ul ul li{
		display: block;
		padding: 0.25em;
	}
	#header .menu ul li:hover ul{
		display: block;
	}
	#header .menu a:hover{
		color: black;
	}
	#header .menu .auth-picture {
		display: inline-block;
		width: 32px;
		height: 32px;
		vertical-align: middle;
	}
	#header .menu .auth-picture + ul {
		display: none;
	}
	#header .hamburger{
		display: none;
	}
}