{% if pager.count > 1 %}
<div class="pager">
<a href="{{ url_for(request.endpoint, page=pager.first) }}">&laquo;</a>
<a href="{{ url_for(request.endpoint, page=pager.prev) }}">&lt;</a>
{%- for n in pager.range(10) %}
<a href="{{ url_for(request.endpoint, page=n) }}"{% if n == pager.page %} class="active"{% endif %}>{{ n }}</a>
{%- endfor %}
<a href="{{ url_for(request.endpoint, page=pager.next) }}">&gt;</a>
<a href="{{ url_for(request.endpoint, page=pager.last) }}">&raquo;</a>
</div>
{% endif %}