<div id="actionbar">
<span style="float: left;">
</span>
<span style="float: right;">
{% if mode == 'render' or mode == 'raw' %}
{% if g.user.is_admin %}
{% if page.subtree.diff(None, None, version) %}<a href="#" title="Restore" class="restore"><i class="fas fa-history"></i></a>{% endif %}
{% if page.subtree.diff(None, None, 'HEAD') %}
{% if not version %}<a href="#" title="Commit" class="commit"><i class="fas fa-save"></i></a>{% endif %}
<a href="#" title="{% if version == None %}View live{% else %}View draft{% endif %}" class="draft{% if version == None %} highlight{% endif %}"><i class="fas fa-drafting-compass"></i></a>
{% endif %}
{% endif %}
<a href="#" title="View source" class="raw{% if mode == 'raw' %} highlight{% endif %}"><i class="{% if mimetype == 'text/markdown' %}fab fa-markdown{% else %}fas fa-file-code{% endif %}"></i></a>
{% if g.user.is_admin and not version %}<a href="#" title="Edit" class="edit"><i class="fas fa-edit"></i></a>{% endif %}
{% elif  mode == 'edit' %}
<a href="#" title="Title" class="title"><i class="fas fa-heading"></i></a>
<a href="#" title="Commit" class="commit{% if not page.subtree.diff(None, None, 'HEAD') %} hidden{% endif %}"><i class="fas fa-save"></i></a>
<a href="#" title="View source" class="raw"><i class="{% if mimetype == 'text/markdown' %}fab fa-markdown{% else %}fas fa-file-code{% endif %}"></i></a>
<a href="#" title="Edit" class="edit highlight"><i class="fas fa-edit"></i></a>
{% endif %}
</span>
<span style="float: right" class="input"></span>
</div>

<script src="{{ url_for('static', filename='diff_match_patch.js') }}"></script>

<script>
$(() => {
    var url = new URL(window.location);
    url.search = '';

    var mode = '{{ mode }}';
    var draft = {{ page.subtree.diff(None, None, 'HEAD') | lower }};
    var viewonly = {{ viewonly | lower }};
    var version = {{ version | tojson }};
    var title = "{{ page.title }}";
    var source = $('#content > textarea.source');
    var source_last = source.val();
    var source_timeout = null;
    var dmp = new diff_match_patch();
    var commit_btn = $('#actionbar a.commit');
    var restore_btn = $('#actionbar a.restore');
    var draft_btn = $('#actionbar a.draft');
    var raw_btn = $('#actionbar a.raw');
    var edit_btn = $('#actionbar a.edit');
    var title_btn = $('#actionbar a.title');

    function parse_pathname(pathname) {
        match = pathname.match(/^\/(?<page>\w+)(?:\/_(?<version>\w+))?(?:\/(?<path>\w+))?/);
        console.log(match.groups);
        return match.groups;
    }

    function build_pathname(page, version, path) {
        var pathname = page;
        if (version) {
            pathname += '/_' + version;
        }
        if (path) {
            pathname += '/' + path;
        }
        return pathname;
    }

    function source_save_patch(complete) {
        if (mode == 'render' || mode == 'raw') {
            commit_btn.toggleClass('hidden', !draft);
            if (typeof complete == 'function') {
                complete();
            }
            return;
        }

        var source_text = source.val();
        var patch = dmp.patch_make(source_last, source_text);
        var patch_text = dmp.patch_toText(patch);
        $.post(url, {
            action: 'patch',
            patch: patch_text,
        }, (data) => {
            source_last = source_text;
            draft = data.draft;
            commit_btn.toggleClass('hidden', !draft);
            if (typeof complete == 'function') {
                complete();
            }
        });
    }

    function source_resize() {
        source.height('inherit');
        var scrollHeight = source.prop('scrollHeight');
        var height = parseInt(source.css('border-top-width'), 10)
                   - parseInt(source.css('padding-top'), 10)
                   + scrollHeight
                   - parseInt(source.css('padding-bottom'), 10)
                   + parseInt(source.css('border-bottom-width'), 10);

        source.height(height + 'px');

        if (source.prop('clientWidth') < source.prop('scrollWidth')) {
            numLines = source.val().split('\n').length;
            height += scrollHeight / numLines;
            source.height(height + 'px');
        }
    }
    source_resize();

    source.on('input', (event) => {
        source_resize();
        if (source_timeout) {
            clearTimeout(source_timeout);
            source_timeout = null;
        }
        source_timeout = setTimeout(() => {
            source_save_patch();
            source_timeout = null;
        }, 1000);
    });
    
    commit_btn.on('click', () => {
        if (source_timeout) {
            clearTimeout(source_timeout);
            source_timeout = null;
        }
        source_save_patch(() => {
            $.post(url, {
                action: 'commit',
            }, (data) => {
                window.location = url;
            });
        });
        return false;
    });

    restore_btn.on('click', () => {
        if (!confirm('Are you sure you want to restore this version?')) {
            return false;
        }
        if (source_timeout) {
            clearTimeout(source_timeout);
            source_timeout = null;
        }
        $.post(url, {
            action: 'restore',
        }, (data) => {
            var url = new URL(window.location);
            var parsed = parse_pathname(url.pathname);
            url.pathname = build_pathname(parsed.page, null, parsed.path);
            //var search = new URLSearchParams();
            //search.set('edit', '1');
            //url.search = search;
            window.location = url;
        });
        return false;
    });

    raw_btn.on('click', () => {
        var search = new URLSearchParams();
        if (mode != 'raw' || mode == 'edit') {
            search.set('raw', '1');
        }
        url.search = search;
        window.location = url;
        return false;
    });

    edit_btn.on('click', () => {
        var search = new URLSearchParams();
        if (mode != 'edit' || mode == 'raw') {
            search.set('edit', '1');
        }
        url.search = search;
        window.location = url;
        return false;
    });

    title_btn.on('click', () => {
        var input_span = $('#actionbar span.input');
        var title_input = $('#actionbar input.title');
        if (!title_input.length) {
            input_span.html('<label>Title <input type="text" class="title" placeholder="Title"></label>');
            title_input = $('#actionbar input.title');
            title_input.val(title);
            title_btn.toggleClass('highlight', true);
            title_input.on('keydown', (event) => {
                if (event.key === 'Enter') {
                    title = title_input.val();
                    $.post(url, {
                        action: 'set-title',
                        title: title,
                    }, () => {
                        $('title').text(title + ' - jkent.net');
                        input_span.html('');
                        title_btn.toggleClass('highlight', false);
                    });
                }
            });
        } else {
            input_span.html('')
            title_btn.toggleClass('highlight', false);
        }
    });

    draft_btn.on('click', () => {
        var parts = window.location.pathname.slice(1).split('/');        
        var page = parts.shift();
        var pathname;
        if (version == null) {
            pathname = '/' + page + '/_HEAD';
        } else {
            var _ = parts.shift();
            pathname = '/' + page
        }
        if (parts.length > 0 && parts[0] != '') {
            pathname += '/' + parts.join('/');
        }
        window.location.pathname = pathname;
        return false;
    });

    source.prop('readonly', mode != 'edit');
});
</script>