{%- extends 'base.html' %}
{%- block title %}Connect{% endblock %}

{% block content %}
<style>
#content ul {
    list-style-type: none;
    padding-left: 0;
}
#content li i {
    margin: 0.5em 1em;
}
</style>
        
Want to connect with me?  Here is a non-exhaustive list of the ways you can!
<ul>
    <li><a href="mailto:jeff@jkent.net"><i class="fas fa-at"></i>E-mail</a></li>
    <li><a href="https://www.facebook.com/jeff.kent.9638"><i class="fab fa-facebook"></i>Facebook</a></li>
    <li><a href="https://github.com/jkent"><i class="fab fa-github"></i>GitHub</a></li>
    <li><a href="https://kiwiirc.com/nextclient/#irc://irc.jkent.net:+6697/#UnderGND"><i class="fas fa-comment-dots"></i>IRC</a></li>
    <li><a href="https://reddit.com/user/jakent"><i class="fab fa-reddit"></i>Reddit</a></li>
    <li><a href="https://twitter.com/jkent_net"><i class="fab fa-twitter"></i>Twitter</a></li>
</ul>
{% endblock %}