{%- extends 'base.html' %}
{%- block title %}{{ title }}{% endblock %}

{% block content %}
<textarea class="source">{{ content }}</textarea>

<div id="actionbar">
<span style="float: left;">
<select class="hidden">
<option value="html"{% if doctype == 'html' %} selected{% endif %}>HTML</option>
<option value="markdown"{% if doctype == 'markdown' %} selected{% endif %}>Markdown</option>
<option value="text"{% if doctype == 'text' %} selected{% endif %}>Plain text</option>
</select>
</span>
<span style="float: right;">
<a href="#" title="Commit" class="hidden"><i class="fas fa-save"></i></a>
<a href="#" title="Revert" class="hidden"><i class="fas fa-history"></i></a>
<a href="#" title="Preview" class="highlight"><i class="{% if doctype == 'markdown' %}fab fa-markdown{% else %}fas fa-file-code{% endif %}"></i></a>
</span>
</div>

<script src="{{ url_for('static', filename='diff_match_patch.js') }}"></script>
<script>
$(() => {
    var textarea = $('#content > textarea.source');
    var preview_button = $('#actionbar a[title="Preview"]');
    var revert_button = $('#actionbar a[title="Revert"]');
    var commit_button = $('#actionbar a[title="Commit"]');
    var doctype_select = $('#actionbar select');
    var has_draft = {{ has_draft | lower }};
    var has_commit = {{ has_commit | lower }};
    var markdown_last = textarea.val();
    var timeout = null;
    var dmp = new diff_match_patch();

    function save_patch(markdown, fn) {
        var patch = dmp.patch_make(markdown_last, markdown)
        var patch_text = dmp.patch_toText(patch);
        $.post('{{ url_for('posts.p', path=post_id) }}', {
            patch_text: patch_text,
        }, (data) => {
            markdown_last = markdown;
            has_draft = data.has_draft;
            has_commit = data.has_commit;
            if (has_draft) {
               commit_button.removeClass('hidden');
            } else {
               commit_button.addClass('hidden');
            }
            if (has_draft && has_commit) {
                revert_button.removeClass('hidden');
            } else {
                revert_button.addClass('hidden');
            }
            if (typeof fn === 'function') {
                return fn(data);
            }
        });
    }

    function textarea_resize(textarea) {
        textarea.height('inherit');
        var height = parseInt(textarea.css('border-top-width'), 10)
                - parseInt(textarea.css('padding-top'), 10)
                + textarea.prop('scrollHeight')
                - parseInt(textarea.css('padding-bottom'), 10)
                + parseInt(textarea.css('border-bottom-width'), 10);
        textarea.height(height + 'px');
    }
    textarea_resize(textarea);

    textarea.on('input', (event) => {
        textarea_resize(textarea);
        var markdown = textarea.val()
        if (timeout) {
            clearTimeout(timeout)
            timeout = null;
        }
        timeout = setTimeout(() => {
            save_patch(textarea.val());
            timeout = null;
        }, 1000);
    });

    preview_button.on('click', () => {
        save_patch(textarea.val(), () => {
            if ({{ viewonly | lower }} || has_draft === false) {
                window.location = '{{ url_for('posts.p', path=post_id) }}';
            } else {
                window.location = '{{ url_for('posts.p', path=post_id, draft=1) }}';
            }
        });
        return false;
    });

    commit_button.on('click', () => {
        $.post('{{ url_for('posts.p', path=post_id) }}', {
            'commit': true,
        }, () => {
            window.location = '{{ url_for('posts.p', path=post_id) }}';
        });
        return false;
    });

    revert_button.on('click', () => {
        $.post('{{ url_for('posts.p', path=post_id) }}', {
            'revert': true,
        }, () => {
            window.location = '{{ url_for('posts.p', path=post_id, source=1) }}';
        });
        return false;
    });

    doctype_select.on('change', () => {        
        $.post('{{ url_for('posts.p', path=post_id) }}', {
            doctype: doctype_select.val(),
        }, () => {
            window.location = '{{ url_for('posts.p', path=post_id, source=1) }}';
        });
    });
{% if viewonly %}
    textarea.prop('readonly', true);
{% else %}
    doctype_select.removeClass('hidden');
    if (has_draft && has_commit) {
        revert_button.removeClass('hidden');
    }
    if (has_draft) {
        commit_button.removeClass('hidden');
    } 
{% endif %}
    textarea.focus();
});

</script>
{% endblock %}