{%- extends 'base.html' %}
{%- block title %}{{ title }}{% endblock %}

{% block content %}
<textarea class="source">{{ content }}</textarea>

<div id="actionbar">
<span style="float: left;">
<select class="hidden">
<option value="html"{% if doctype == 'html' %} selected{% endif %}>HTML</option>
<option value="markdown"{% if doctype == 'markdown' %} selected{% endif %}>Markdown</option>
<option value="text"{% if doctype == 'text' %} selected{% endif %}>Plain text</option>
</select>
</span>
<span style="float: right;">
<a href="#" title="Save" class="hidden"><i class="fas fa-save"></i></a>
<a href="#" title="Revert" class="hidden"><i class="fas fa-history"></i></a>
<a href="#" title="Preview" class="highlight"><i class="{% if doctype == 'markdown' %}fab fa-markdown{% else %}fas fa-file-code{% endif %}"></i></a>
</span>
</div>

<script src="{{ url_for('static', filename='difflib-browser.js') }}"></script>
<script>
$(() => {
    var textarea = $('#content > textarea.source');
    var preview_button = $('#actionbar a[title="Preview"]');
    var revert_button = $('#actionbar a[title="Revert"]');
    var save_button = $('#actionbar a[title="Save"]');
    var doctype_select = $('#actionbar select');
    var in_index = {{ in_index | lower }};
    var modified = {{ modified | lower }};
    var markdown_last = textarea.val()
    var timeout = null;

    function save_diff(markdown, fn) {
        diff = difflib.unifiedDiff(markdown_last.split('\n'), markdown.split('\n'), {
            fromfile: 'a/documents/{{ post_id }}{{ extension }}',
            tofile: 'b/documents/{{ post_id }}{{ extension }}',
            lineterm: ''
        });
        var url = new URL(window.location);
        url.search = null;
        $.post(url, {
            diff: diff.join('\n')
        }, (data) => {
            in_index = data.in_index;
            modified = data.modified;
            markdown_last = markdown;
            if (modified) {
                save_button.removeClass('hidden');
            } else {
                save_button.addClass('hidden');
            }
            if (modified && in_index) {
                revert_button.removeClass('hidden');
            } else {
                revert_button.addClass('hidden');
            }
            if (typeof fn === 'function') {
                return fn(data);
            }
        });
    }

    function textarea_resize(textarea) {
        textarea.height('inherit');
        var height = parseInt(textarea.css('border-top-width'), 10)
                + parseInt(textarea.css('padding-top'), 10)
                + textarea.prop('scrollHeight')
                + parseInt(textarea.css('padding-bottom'), 10)
                + parseInt(textarea.css('border-bottom-width'), 10);
        textarea.height(height + 'px');
    }
    textarea_resize(textarea);

    textarea.on('input', (event) => {
        textarea_resize(textarea);
        var markdown = textarea.val()
        if (timeout) {
            clearTimeout(timeout)
            timeout = null;
        }
        timeout = setTimeout(() => {
            save_diff(textarea.val());
            timeout = null;
        }, 1000);
    });

    preview_button.on('click', () => {
        save_diff(textarea.val(), () => {
            if ({{ viewonly | lower }} || modified === false) {
                window.location = "{{ url_for('posts.p', path=post_id) }}";
            } else {
                window.location = "{{ url_for('posts.p', path=post_id, draft=1) }}";
            }
        });
        return false;
    });

    revert_button.on('click', () => {
        window.location = "{{ url_for('posts.p', path=post_id, revert=1) }}";
        return false;
    });

    save_button.on('click', () => {
        save_diff(textarea.val(), () => {
            window.location = "{{ url_for('posts.p', path=post_id, save=1) }}";
        });
        return false;
    })

    doctype_select.on('change', () => {        
        var url = new URL(window.location);
        url.search = '';
        var doctype = doctype_select.val();
        $.post(url, {
            doctype: doctype
        }, () => {
            window.location = "{{ url_for('posts.p', path=post_id, source=1) }}"
        });
    });
{% if viewonly %}
    textarea.prop('readonly', true);
{% else %}
    doctype_select.removeClass('hidden');
    if (modified && in_index) {
        revert_button.removeClass('hidden');
    }
    if (modified) {
        save_button.removeClass('hidden');
    } 
{% endif %}
});

</script>
{% endblock %}