<div id="header">
<div class="float">
<div class="menu">
<ul>
 {%- for item in current_menu.children recursive %}
 {%- if loop.depth <= 2 %}
 {%- if item.visible %}
 <li><a href="{{ item.url }}">{{ item.text }}</a>
  {%- if item.children and loop.depth <= 1 %}
  <ul>{{ loop(item.children) }}
  </ul>
 {%- endif %}
 </li>
 {%- endif %}
 {%- endif %}
 {%- endfor %}
 <li><img src="{{ session.avatar_url or url_for('static', filename='user.png') }}" class="auth-picture">
  <ul>
  {%- for item in current_menu.submenu('.user').children %}
  {%- if item.visible %}
   <li><a href="{{ item.url }}">{{ item.text }}</a></li>
  {%- endif %}
  {%- endfor %}
  </ul>
 </li>
</ul>
</div>
<a href="#" class="hamburger"><i class="fas fa-bars"></i></a>
</div>
<h1><a href="/">jkent.net</a></h1>
</div>