{% extends 'base.html' %}

{% block main %}

{% include 'actionbar.html' %}
<link rel="stylesheet" href="{{ url_for('static', filename='libs/mobile-drag-drop/release/default.css') }}">
<script src="{{ url_for('static', filename='libs/mobile-drag-drop/release/index.min.js') }}"></script>
<script src="{{ url_for('static', filename='libs/progressbar.js/dist/progressbar.min.js') }}"></script>

<script>
MobileDragDrop.polyfill({
    iterationInterval: 100,
});

let treeview = new Treeview({
    draggable: true,
    droppable: true,
    root_folder: 'Root',
    file_drop: true,
});
$('#content').append(treeview.html);
treeview.select_handler = (selection) => {
    console.log('treeview', 'select', selection);
}
treeview.dblclick_handler = (path, shift) => {
    console.log('treeview', 'dblclick', path, shift);
};
treeview.drop_handler = (data) => {
    if (data.type == 'file') {
        let url = new URL(window.location);
        let search = new URLSearchParams();
        search.set('action', 'upload');
        url.search = search;

        for (let file of data.source_files) {
            let node = treeview.insert(data.dest_node.path + file.name);
            let $progress = $('<span class="progress">');
            node.$li.find('>span').after($progress);

            let progress = new ProgressBar.Circle($progress[0], {
                color: '#77f',
                strokeWidth: 16,
                trailWidth: 16,
            });

            let fd = new FormData();
            fd.append('dest', data.dest_node.path);
            fd.append('file', file);
            $.post({
                url: url,
                data: fd,
                xhr: () => {
                    let xhr = $.ajaxSettings.xhr();
                    xhr.upload.onprogress = (e) => {
                        let percent = e.loaded / e.total;
                        progress.animate(percent);
                    };
                    return xhr;
                },
                cache: false,
                contentType: false,
                processData: false,
                success: (json) => {
                    $progress.remove();
                },
                error: (e) => {
                    setTimeout(() => {
                        progress.animate(100, {
                            color: '#f00',
                        });
                        treeview.remove(node);
                    }, 500);
                }
            });
        }
    } else if (data.type == 'local') {
        let url = new URL(window.location);
        let search = new URLSearchParams();
        search.set('action', data.shift ? 'copy' : 'move');
        url.search = search;
        let fd = new FormData();
        fd.append('dest', data.dest_node.path);
        console.log(data.selected_parents);
        for (let node of data.selected_parents) {
            fd.append('paths', node.path);
        }
        $.post({
            url: url,
            data: fd,
            processData: false,
            contentType: false,
            success: (json) => {
                if (!data.shift) {
                    data.source_node.$li.trigger('dragend');
                }
                for (let node of data.selected_parents) {
                    [_, paths] = data.source_tree.list(node);
                    data.dest_tree.insert(paths, data.dest_node.path);
                    if (!data.shift) {
                        data.source_tree.remove(node);
                    }
                }
            },
        });
    }
};

let url = new URL(window.location);
let search = new URLSearchParams();
search.set('action', 'list');
url.search = search;
$.get(url, (data) => {
    $.each(data.paths, (_, path) => treeview.insert(path));
});

</script>
{% endblock %}