{%- extends 'base.html' %}
{%- block title %}{{ title }}{% endblock %}

{% block content %}
{{ content }}
<div id="actionbar">
{% if source %}
<span>Viewing source of <a href="{{ url_for('posts.p', path=post_id) }}">{{ post_id }}</a></span>
{% elif markdown %}
<a href="{{ url_for('posts.p', path=post_id, source=1) }}" title="View markdown"><i class="fab fa-markdown"></i></a>
{% endif %}
{% if g.user and g.user.is_admin %}
<a href="#" title="Edit"><i class="fas fa-edit"></i></a>
</div>

<script src="https://unpkg.com/stackedit-js@1.0.7/docs/lib/stackedit.min.js"></script>
<script>
$(() => {
    $('a[title="Edit"]').click(() => {
        var markdown = null;
        var timeout = null;
        var url = new URL(window.location);
        url.search = '?raw=1';
        $.get(url, (data) => {
            url.search = '';

            const stackedit = new Stackedit();
            stackedit.openFile({
                content: {
                    text: data
                }
            });

            stackedit.on('fileChange', (file) => {
                markdown = file.content.text;
                if (timeout) {
                    clearTimeout(timeout);
                    timeout = null;
                }
                timeout = setTimeout(() => {
                    $.post(url, {
                        markdown: markdown
                    });
                }, 1000);                    
            });

            stackedit.on('close', (file) => {
                if (timeout) {
                    clearTimeout(timeout);
                    timeout = null;                    
                }
                $.post(url, {
                    markdown: markdown,
                    commit: true
                });
                window.location.reload();
            });
        });
    });
});

</script>
{% endif %}
{% endblock %}