{%- extends 'base.html' %}

{% block main %}
<div id="content">
<h1>{{ title or '(Untitled)' }}</h1><span>{% if mode == 'raw' %}(Source){% elif mode == 'edit' %}(Editing){% endif %}</span>
{%- if mode == 'render' %}
{{ content }}
{%- elif mode == 'raw' or mode == 'edit' %}
<textarea class="source">{{ content }}</textarea>
{%- endif %}
</div>
<script>
var subtree = {
    type: 'page',
    mode: {{ mode | tojson }},
    draft: {{ page.subtree.diff(None, None, 'HEAD') | tojson }},
    version: {{ version | tojson }},
    title: {{ page.title | tojson }},
};
</script>
<script src="{{ url_for('static', filename='js/diff_match_patch.js') }}"></script>
<script src="{{ url_for('static', filename='js/subtree.js') }}"></script>
{% include 'actionbar.html' %}
{% endblock %}