{%- extends 'base.html' %}
{%- block title %}{{ title }}{% endblock %}

{% block content %}
{{ content }}
<div id="actionbar">
{% if has_draft and not is_draft %}
<a href="{{ url_for('posts.p', path=post_id, draft=1) }}" title="View draft"><i class="fas fa-drafting-compass"></i></a>
{% elif has_draft and is_draft %}
<a href="{{ url_for('posts.p', path=post_id) }}" title="View normal" class="highlight"><i class="fas fa-drafting-compass"></i></a>
{% endif %}
<a href="{{ url_for('posts.p', path=post_id, source=1) }}" title="View source"><i class="{% if doctype == 'markdown' %}fab fa-markdown{% else %}fas fa-file-code{% endif %}"></i></a>
</div>
{{ type }}
{% endblock %}