{%- extends 'admin/base.html' %}
{%- set title='Admin - Index' %}

{% block body %}
<p>We probably won't keep this... but for now...</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident delectus sit adipisci, hic ducimus, eius repellendus, distinctio quis esse eos dolorum quae ullam qui fugiat velit assumenda blanditiis harum fugit.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure nostrum pariatur similique dignissimos omnis. Totam repellat sunt eos voluptatum facilis vel commodi accusantium, error harum delectus deserunt atque! Sequi, maiores.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque aut vitae quaerat perspiciatis rerum explicabo eligendi odio dolores necessitatibus quia at, nam maxime ipsam nobis! Illo quas ad vero sunt!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, maiores? Illum similique quaerat rerum reiciendis maxime iste? Iure officiis in nobis ratione nesciunt dolores blanditiis commodi totam cum. Maxime, tempore.</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum deserunt quod accusantium quia possimus necessitatibus fuga saepe alias, voluptatum veniam dignissimos, cupiditate ea molestias dicta, numquam molestiae natus aut fugiat.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores distinctio recusandae est libero non ex commodi. Doloribus officiis culpa maiores architecto facilis suscipit provident recusandae a, consequatur exercitationem, at ducimus.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem minima error hic eius rem cupiditate officia, eaque nam beatae, asperiores vitae tempora id optio veritatis totam? Incidunt veritatis reprehenderit quas.</p>
{% endblock %}