{% extends 'admin/base.html' %}

{% block body %}
<form method="POST">
<div class="field">
 <input type="text" name="title" id="title_field" placeholder=" " value="{{ page.title }}">
 <label for="name_field">Name</label>
</div>
<div class="buttons"><button class="save">Save</button><button class="cancel">Cancel</button></div>
<input type="hidden" name="action" value="save">
</form>

<script>
var form = $('form');
$('button.cancel').on('click', () => {
form.find('input[name="action"]').prop('value', 'cancel');
form.submit();
});
</script>
{% endblock %}