{% extends 'admin/base.html' %}

{% block body %}
<div class="field">
 <input type="text" name="filter" id="index_filter" placeholder=" " autocomplete="off">
 <label for="index_filter">Filter</label>
</div>
<div class="index_data"></div>
<form action="{{ url_for('admin.pages_new') }}" method="POST">
<div class="field">
 <input type="text" name="title" id="index_new" placeholder=" ">
 <label for="index_new">New Page</label>
</div>
</form>
<div id="index_pager"></div>

<script>
index_init('/admin/pages', (field) => {
    if (field.val().match(/\s/)) {
	    alert('Invalid name!');
        return false;
    }
    return true;
}, (entry) => entry.title);
</script>
{% endblock %}