{% extends 'admin/base.html' %}

{% block body %}
<div class="field">
 <input type="text" name="filter" id="index_filter" placeholder=" " autocomplete="off">
 <label for="index_filter">Filter</label>
</div>
<div class="index_data"></div>
<form action="{{ url_for('admin.roles_new') }}" method="POST">
<div class="field">
 <input type="text" name="name" id="index_new" placeholder=" ">
 <label for="index_new">New Role</label>
</div>
</form>
<div class="pager"></div>

<script>
index_init('/admin/roles', (field) => {
    if (field.val().match(/\s/)) {
	    alert('Invalid name!');
        return false;
    }
    return true;
}, (entry) => entry.name + (entry.description ? ' (' + entry.description + ')' : ''));
</script>
{% endblock %}