{% extends 'admin/base.html' %}

{% block body %}
<div class="field">
 <input type="text" name="filter" id="filter_field" placeholder=" ">
 <label for="filter_field">Filter</label>
</div>
{%- for role in roles %}
<div class="paged-entry"><span><a><i class="fas fa-trash"></i></a></span><a href="{{ url_for('admin.roles_edit', id=role.id) }}">{{ role.description }}</a></div>
{%- endfor %}
<div class="field">
 <input type="text" name="description" id="description_field" placeholder=" ">
 <label for="description_field">New description</label>
</div>
{% include '_pager.html' %}
{% endblock %}