{% extends 'admin/base.html' %}

{% block body %}
<div><a href="{{ url_for('admin.users_index') }}#page={{ pagenum }}"><i class="fas fa-arrow-left"></i> Back</a></div>

<div class="field">
 <input type="text" name="name" id="name_field" placeholder=" " value="{{ user.name }}">
 <label for="name_field">Name</label>
</div>
   
<div class="field">
 <input type="text" name="email" id="email_field" placeholder=" " value="{{ user.email }}">
 <label for="email_field">Email</label>
</div>

<div class="field">
 <div class="taglist" id="roles_field"><span class="input"></span></div>
 <label for="roles_field">Roles</label>
</div>

<div style="text-align: right;"><button>Cancel</button> <button>Save</button></div>

<script>
let taglist = new Taglist('#roles_field', {{ user.roles.json | safe }}, (tag) => {
    $.post('/admin/roles/validate', {
        name: tag,
    }, (data) => {
        if (data.exists) {
            taglist.add_tag(tag, true);
        } else if (confirm('Role ' + tag + ' is not defined.  Create it?')) {
            $.post('/admin/roles/new', {
                name: tag,
            }, (data) => {
                taglist.add_tag(tag, true);
            });
        }
    });
    return false;
});
</script>

{% endblock %}