{% extends 'admin/base.html' %}

{% block body %}
<div class="field">
 <input type="text" name="filter" id="index_filter" placeholder=" " autocomplete="off">
 <label for="index_filter">Filter</label>
</div>
<div class="index_data"></div>
<form action="{{ url_for('admin.users_new') }}" method="POST">
<div class="field">
 <input type="text" name="email" id="index_new" placeholder=" ">
 <label for="index_new">New User</label>
</div>
</form>
<div id="index_pager"></div>

<script>
index_init('/admin/users', (field) => {
    if (!field.val().match(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/)) {
	    alert('Invalid email!');
        return false;
    }
    return true;
}, (entry) => (entry.name ? entry.name + ' ' : '') + '<' + entry.email + '>');
</script>
{% endblock %}