{% extends 'admin/base.html' %}

{% block body %}
<form method="POST">
<div class="field">
 <input type="text" name="name" id="name_field" placeholder=" " value="{{ user.name }}" autocomplete="off">
 <label for="name_field">Name</label>
</div>
<div class="field">
 <input type="text" name="email" id="email_field" placeholder=" " value="{{ user.email }}" autocomplete="off">
 <label for="email_field">Email</label>
</div>
<div class="field">
 <div class="taglist" id="roles_field"><span class="input"></span></div>
 <label for="roles_field">Roles</label>
 <input type="hidden" name="roles" value="{{ user.roles.list }}">
</div>
<div style="text-align: right;"><button class="cancel">Cancel</button> <button class="save">Save</button></div>
<input type="hidden" name="action" value="save">
</form>
<script>
let taglist = new Taglist('#roles_field', 'input[name="roles"]', (tag) => {
    $.post('/admin/roles/validate', {
        name: tag,
    }, (data) => {
        if (data.exists) {
            taglist.add_tag(tag, true);
        } else if (confirm('Role ' + tag + ' is not defined.  Create it?')) {
            $.post('/admin/roles/new', {
                name: tag,
            }, (data) => {
                taglist.add_tag(tag, true);
            });
        }
    });
    return false;
});
$('button.cancel').on('click', () => {
    form.find('input[name="action"]').prop('value', 'cancel');
    form.submit();
});
</script>
{% endblock %}